h1 {
  font-family: cursive; 
  color: darkgreen;}
h2 {
  text-transform: capitalize;
  font-family: "times"; 
  font-size: medium;
  font-weight: normal;
  color: black;
  margin: 25px;}
h3 {
  font-weight: bolder;
}
body {
  color: black;
  background-image: url("images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: skyblue;}
ul li {
  list-style: square;
}
p {
  color: darkred;
  font-family: fantasy;
  font-size: x-large;
  font-weight: normal;
  margin: 30px;
}
#final-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:400px;
  height:300px;
  box-shadow: 10px 5px 5px chocolate;
  border-radius: 10%;
}
